/* Makeshift CSS Reset */
* {
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	width: 940px;
	padding: 22px 0;
}

h1, h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
}

p {
	padding-bottom: 22px;
}

nav {
	left: 0;
	width: 100%;
    background-color: #AA0;
}

nav ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    margin-right: 20px;
    width: 140px;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    color: #777;
}

nav ul li a:hover {
    color: #fff;
}

nav ul li.selected a {
    color: #fff;
}

#level2 {
    clear: both;
}

#level3 {
    float: left;
    width: 150px;
    margin-right: 1em;
}

#level3, #level3 ul {
    list-style: none;
}

#level3 li {
    padding: 0.3em;
    padding-left: 0.5em;
}

#level3 ul li {
    padding-left: 1em;
}

#level3 ul ul li {
    padding-left: 2em;
}

/* Menu colors */
.lightMenu1 {
    background-color: #FF99AA;
}

.darkMenu1 {
    background-color: #FF5566;
}

.lightMenu2 {
    background-color: #DD88FF;
}

.darkMenu2 {
    background-color: #CC44FF;
}

.lightMenu3 {
    background-color: #8AFF97;
}

.darkMenu3 {
    background-color: #33FF44;
}

.lightMenu4 {
    background-color: #FFDD55;
}

.darkMenu4 {
    background-color: #FFCC22;
}

/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

#content {
	display: table;
}

#mainContent {
    display: table-cell;
    width: 620px;
    padding-right: 22px;
}
	
.clear {
    clear: both;
}
