/* Makeshift CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
    display: block;
}

body {
    margin: 0 auto;
    width: 940px;
    padding: 22px 0;
}

p {
    padding-bottom: 22px;
}

nav {
    left: 0;
    width: 100%;
    background-color: #eee;
}

nav ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    width: 140px;
    font-size: 11pt;
    line-height: 33pt;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

nav ul li a:hover {
    color: #fff;
}

nav ul li.selected a {
    color: #fff;
}

.menuBar {
    width: 100%;
    height: .5em;
    clear: both;
}

#level3 {
    float: left;
    width: 200px;
    margin-right: 1em;
    padding-bottom: 0.5em;
}

#level3, #level3 ul {
    list-style: none;
}

#level3 li {
    padding: 0.3em;
    padding-left: 0.5em;
}

#level3 ul li {
    padding-left: 1em;
}

#level3 ul ul li {
    padding-left: 2em;
}

#level3 ul ul ul li {
    padding-left: 3em;
}

#level3 .noIndentLi {
    padding: 0px;
}

/* Menu colors */
.lightMenu0 {
    background-color: #FF99AA;
}

.darkMenu0 {
    background-color: #FF5566;
}

.lightMenu1 {
    background-color: #DD88FF;
}

.darkMenu1 {
    background-color: #CC44FF;
}

.lightMenu2 {
    background-color: #FF8547;
}

.darkMenu2 {
    background-color: #FF5500;
}

.lightMenu3 {
    background-color: #00C41A;
}

.darkMenu3 {
    background-color: #009113;
}

/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

#content {
    margin-top: 1em;
    display: table;
}

#mainContent {
    display: table-cell;
    width: 620px;
    padding-right: 22px;
}

/*------------------------------
=FORMS
------------------------------*/

form.cmxform fieldset {
  margin-bottom: 10px;
  padding: 5px;
}

form.cmxform legend {
  padding: 0 2px;
  font-weight: bold;
}

form.cmxform label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}

form.cmxform fieldset ol {
  margin: 0;
  padding: 0;
}

form.cmxform fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}

form.cmxform em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

form.cmxform label {
  width: 220px; /* Width of labels */
}

form.cmxform fieldset fieldset label {
  margin-left: 223px; /* Width plus 3 (html space) */
}

/*--------------------------
 * Categories 
 *--------------------------*/
.kategoriBox {
    float: left;
    padding: 10px;
    margin-bottom: 2em;
}

.kategoriBox h2 {
    padding: 0px;
    font-size: 16pt;
    line-height: 20pt; 
    font-family: sans-serif;
    color: #CD041B;
}

.kategoriBox img {
    border: 1px solid black;
}

.kategoriBox h2.hover {
    cursor: pointer;
}

.kategoriBox a.visited, .kategoriBox a {
    text-decoration: none;
}


dl.itemInfo {
    margin: 10px 0;
}

dl.itemInfo dt {
    float: left;
    width: 75px;
    font-weight: bold;
}

dl.itemInfo dd {
    margin-left: 85px;
}

#prisliste {
    width: 400px;
    margin: 0 auto;
}

#prisliste caption {
    font-weight: bold;
    font-size: 1.2em;
}

#prisliste th {
    text-align: left;
}

#purchase {
    padding: 12px;
    border: 2px solid #F56;
    background: #F9A;
}
