#regform fieldset {
    border: 2px solid #999;
    padding: 5px;
}

#regform legend {
    font-weight: bold;
}

#regform fieldset > ol {
    list-style-type: none;
}

#regform fieldset > ol li {
    margin: 8px 0;
}

#regform label {
    display: block;
    font-weight: bold;
}
